body{
	max-width: 97%;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

header{
	margin: auto;
	text-align:center;
	padding-bottom: 20px;
	width: 1500px;
	
}

header nav{
	background-image: url("myndir/twitrheaders.jpg");
	background-color:#071418;
	border-color:black;
	background-color:#FE2E2E;
	box-sizing:border-box;
	border: solid 3px;
	border-color:black;
	border-radius:3px;
	text-align: center;
	height: 500px;

}
header nav a{
  display:inline-block;
  padding:15px;
  text-decoration: none;
  border-left:1px solid #2EFE2E;
  margin-left:-5px;
  color:red;
}
header nav a:last-of-type
{
  border-right:3px solid #black;
}
header nav a:hover{
  color:#FF8000;
  

 }
aside{
	width: 860px;
	height: 960px;
}
.aside{
	box-sizing:border-box;
	border:solid;
	order:1;
	background-color:#f0ead6;
	border-color:#f0ead6;
	text-align:center;
	
}

.aside2{
	box-sizing:border-box;
	border:solid;
	order:3;
	background-color:#f0ead6;
	border-color:#f0ead6;
	text-align:center;

}
.article{
	order:2;
	text-align:center;
}
.row{
	display:flex;
	flex-flow:row;
}

footer{
	text-align:center;
}


.box-1{
	background: #2db34a;
	width:3em;
	height:3em;
	text-align:center;
	position:fixed;
	left:5px;
	top:50px;
	border:1px solid;
	border-color:red;

		
}
.box-2{
	background: #2db34a;
	width:3em;
	height:3em;
	text-align:center;
	position:fixed;
	left:5px;
	top:98px;
	border:1px solid;
	border-color:red;

		
}
.box-3{
	background: #2db34a;
	width:3em;
	height:3em;
	text-align:center;
	position:fixed;
	left:5px;
	top:144px;
	border:1px solid;
	border-color:red;
		
}
.box-4{
	background: #2db34a;
	width:3em;
	height:3em;
	text-align:center;
	position:fixed;
	left:5px;
	top:190px;
	border:1px solid;
	border-color:red;

		
}
.topmeenu{
  	width: 100%;
  	position: fixed;
  	left: 0;
  	bottom: -15em;
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	transition: all .1s ease;
 
}
.topmeenu nav{
	border: 0;
	border-bottom: 1px solid lime;
	padding: 0;
	margin: 0;
}

.topmeenu a{
	display: block;
	color:black;
	text-decoration: none;
	text-align: center;
	padding:  5px 9px;
	background-color: #096;
}
.topeenu a:hover,
.topeenu a:active,
.topeenu a:focus {
	background-color: lime;
	transition: all 1s ease;
}
*{
	padding: 0px;
	margin: 0px;
}
#div1{
	width: 100%;
	height: 667px;
	background: url("download.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#div2{
	background:#11A18A;
	height: 100px;
	width: 100%;
	text-align: 50px;
	line-height: 100px;
	opacity: 0.8;
	filter: alpha(opacity=80)
}
#div2 h1{
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer;
	margin-left: 10px;
}
#div2 ul{
	float: right;
	position: relative;
	margin-right: 100px;
	line-height: 55px;

}
#div2 ul li{
	list-style-type: none;
	display: inline-block;
}
#div2 ul li a{
	padding: 22px;
	text-decoration: none;
	color: white;
	display: block;
}
#div2 ul li:hover{
	background:#29B59F;
	transition: all 0.40s;
}
#div2 ul li:hover ul{
	display: block;
}
#div2 ul ul{
	display: none;
	width: 120px;
	position: relative;
}
#div2 ul ul li{
	background: #29B59F;
	display: block;
}
#div2 ul ul li a{
	padding: 15px;

}
#div ul li li:hover{
	background:#11A18A;
	transition: all 0.40s;
}
.active{
	background:#29B59F;
}

