body{
	max-width: 97%;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 20px;

}

header{
	margin: auto;
	text-align:center;
	padding-bottom: 20px;
	width: 1500px;
	
}

header nav{
	background-image: url("myndir/twitrheaders.jpg");
	border-color:black;
	box-sizing:border-box;
	border: solid 3px;
	text-align: center;
	height: 500px;

}
header nav a{
  display:inline-block;
  padding:15px;
  text-decoration: none;
  border-left:1px solid #2EFE2E;
  margin-left:-5px;
  color:red;
}
header nav a:last-of-type
{
  border-right:3px solid black;
}
header nav a:hover{
  color:#FF8000;
  

 }
aside{
	width: 860px;
	height: 960px;
}
.aside{
	box-sizing:border-box;
	border:solid;
	order:1;
	background-color:#f0ead6;
	border-color:#f0ead9;
	text-align:center;
    
	
}

.aside2{
	box-sizing:border-box;
	border:solid;
	order:3;
	background-color:#f0ead6;
	border-color:#f0ead9;
	text-align:center;
    

}
article{
	order:2;
	text-align:center;

}
.row{
	display:flex;
	flex-flow:row;
}


*{
	padding: 0px;
	margin: 0px;
}
#div1{
	width: 100%;
	height: 667px;
	background: url("download.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#div2{
	background:#11A18A;
	height: 100px;
	width: 100%;
	text-align: 50px;
	line-height: 100px;
	opacity: 0.8;
	filter: alpha(opacity=80)
}
#div2 h1{
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer;
	margin-left: 10px;
}
#div2 ul{
	float: right;
	position: relative;
	margin-right: 100px;
	line-height: 55px;

}
#div2 ul li{
	list-style-type: none;
	display: inline-block;
}
#div2 ul li a{
	padding: 22px;
	text-decoration: none;
	color: white;
	display: block;
}
#div2 ul li:hover{
	background:#29B59F;
	transition: all 0.40s;
}
#div2 ul li:hover ul{
	display: block;
}
#div2 ul ul{
	display: none;
	width: 120px;
	position: relative;
}
#div2 ul ul li{
	background: #F0EAD6;
	display: block;
}
#div2 ul ul li a{
	padding: 15px;

}
#div ul li li:hover{
	background:#F0EAD6;
	transition: all 0.40s;
}
.active{
	background:#29B59F;
}
.wrap {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  background: white;
  padding-bottom: 100px;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

.spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  -webkit-animation: spinny 1s linear infinite;
          animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
.spinner-2 {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.spinner-2:before, .spinner-2:after {
  height: 20px;
  width: 20px;
  background: orangered;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  -webkit-animation: bouncy 1s ease-in infinite;
          animation: bouncy 1s ease-in infinite;
}
.spinner-2:after {
  top: auto;
  bottom: -10px;
  -webkit-animation: bouncy 0.5s ease-in infinite;
          animation: bouncy 0.5s ease-in infinite;
}

@-webkit-keyframes bouncy {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes bouncy {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spinner-3 {
  background: none;
  border: 4px solid #eee;
}
.spinner-3:after {
  width: 4px;
  height: 66px;
  background: orangered;
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.spinner-4:before, .spinner-4:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: orangered;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  opacity: 0;
}
.spinner-4:after {
  -webkit-animation: pulse 2s linear 2.3s infinite;
          animation: pulse 2s linear 2.3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
.spinner-5 {
  height: 0px;
  width: 0px;
}
.spinner-5 span {
  display: block;
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}
.spinner-5 span:nth-child(1) {
  left: -40px;
  -webkit-animation: bounce 1s ease-in-out infinite;
          animation: bounce 1s ease-in-out infinite;
}
.spinner-5 span:nth-child(2) {
  -webkit-animation: bounce 1s ease-in-out 0.33s infinite;
          animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner-5 span:nth-child(3) {
  left: 40px;
  -webkit-animation: bounce 1s ease-in-out 0.66s infinite;
          animation: bounce 1s ease-in-out 0.66s infinite;
}

@-webkit-keyframes bounce {
  0%, 75%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes bounce {
  0%, 75%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
